@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
body {
  @apply font-sans bg-white text-black dark:bg-gray-900 dark:text-white;
  
}

/* Custom animation for fade-in */
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.4s ease forwards;
}
